
// Fonts
@import url('https://fonts.googleapis.com/css?family=Montserrat|Roboto+Slab');

// Variables
@import "variables";

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Colors
.bg-custom-light-blue {
  background-color: $custom-light-blue;
}
.navbar-light .navbar-brand {
  color: $custom-light-blue;
}

// Typography
aside,
footer,
label,
.breadcrumb {
  font-family: $font-family-serif;
}

h1, h2, h3, h4, h5, h6,
.navbar-brand,
.nav-link, {
  text-transform: uppercase;
}

// General
.page {
  a, h1 {
    color: $white;
  }
}

footer {
  font-size: 80%;

  a {
    color: $white;
    text-decoration: underline;

    &:hover,
    &:focus {
      color: $custom-light-grey;
    }
  }

  em {
    text-transform: lowercase;
  }

  h4, h5 {
    font-family: $font-family-sans-serif;
  }
}
